@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav > ul > li > a{
    background-color: black;
    color:#77a2ff ;
    font-family: arial;
    text-decoration: none;
}
table {
    table-layout:fixed;
    width: 100%;
    font-size: large;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr{
    padding-top: 30px;
    margin-top: 20px;
}
td {
        border: 1px solid rgb(255, 255, 255);
        border-collapse: collapse;
        width: 19%;
        display: inline-block;
        background-color: rgb(255, 255, 255);
        white-space: nowrap;
        text-align: center;
}
h3 .user{
    display: block;
    padding: 300px;
    align-items: center;
}
.box{
    font-size: 300px;
    padding: 20px;
    border-radius: 5px;
}
body{
    margin: 0px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #77a2ff, #94e6ff );
    min-height: 100vh;
}
nav{
    background-color: rgb(255, 255, 255);
    color:#77a2ff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: arial;
}

h1,ul,li{
    display:inline;
    padding-left: 20px;
    padding-right:20px;
}
li{
    padding: 15px;
    cursor: pointer;
}
ul{
    margin-left: 35%;
}
li:hover{
    color:rgb(255, 255, 255);
}
.footer{
    background-color:black;
    color:gray;
    bottom: 0;
    position: relative;
}
.icon{
    font-size: 30px;
    color:gray;
    color: inherit;
    text-decoration: none;
}
.successfully{
    font-weight: bold;
    padding-top: 10px;
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: black; 
    padding-top: 60px; 
    transition: 0.5s; 
    overflow-x: hidden;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    background-color: black;
    display: block;
    transition: 0.3s;
  }

.sidenav a:hover {
    color: #77a2ff;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}